.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  margin-left: 700px;
}

.task-input {
  margin-bottom: 20px;
}

.task-input input {
  padding: 10px;
  font-size: 20px;
  width: 300px;
  margin-right: 10px;
}

.task-input button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

.task-list button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.task-list button:hover {
  background-color: #ff0000;
}
